body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dark {
  background-color: #242424;
  color: white;
}
.light {
  background-color: white;
  color: black;
}
input{
  color: white;
  background-color: #242424;
  border: #717171 solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
}
select{
  color: white;
  background-color: #242424;
  border: #717171 solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
  border: none;
  color: white;
  background-color: #4B72C2;
  border-radius: 0.3rem;
}
button:hover {
  cursor: pointer;
  background-color: #1f3e80;
}